@charset "UTF-8";

#memberArea {
    position: relative;
    display: block;
    width: 650px;
    margin: 50px auto; 
}

#memberArea>h2 {
    font-size: 35px;
    border-bottom: 1px solid;
}

.location {
    position: absolute;
    top: 10px;
    right: 10px;
}

.formSign {
    display: inline-block;
    width: 300px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 45px;
    right: 10px;
    margin: 25px 0 0 0; 
    font-size: 12px;   
    color: #333;
}

fieldset>p {
    margin: 70px 0;
    overflow: hidden;
}

fieldset>p>label {
    border-radius: 5px;
    background-color: black;
    color: #fff;
    margin-left: 20px;
    margin-top: 4px;
    line-height: 36px;
    text-indent: 25px;
    font-size: 15px;
    float: left;
    width: 200px;
    height: 36px;
    overflow: hidden;
}

label>span, em>span {
    float: right;
    text-align: right;
    line-height: 32px;
    margin-right: 10px;
    font-size: 25px;
}

fieldset>p>input {
    float: right;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    line-height: 40px;
    text-indent: 25px;
    margin-right: 20px;
}

.idCheck {
    border-radius: 5px;
    position: absolute;
    top: 240px;
    right: 40px;
    border: 1px solid #555;
    width: 70px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    background-color: #555;
    color: #fff;    
}

em {
    font-style: normal;
    border-radius: 5px;
    background-color: #20578b;
    color: #fff;
    margin-left: 20px;
    margin-top: 4px;
    line-height: 36px;
    text-indent: 25px;
    font-size: 15px;
    float: left;
    width: 300px;
    height: 36px;
}

.agreeOrNot {
    border-radius: 5px;
    border: 2px solid #555;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-indent: 35px;
    position: absolute;
    bottom: 162px;
    right: 20px;
}

.agreeOrNot>label {
    margin: 0 30px 0 0px;
}

#span1 {
    font-size: 11px;
    position: absolute;
    bottom: 150px;
    left: 20px;
}

.btnJoinArea {
    text-align: center;
}   

.btnJoinArea>button {
    width: 100px;
    height: 50px;
}