@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
} 

ul {
    list-style: none;
}

fieldset {
    border: 0;
}

/* 숨김 컨텐츠 */
.hidden, legend, caption {
    position: absolute;
    left: -9999px;
}

/* 전체적인 레이아웃 */

#header {
    width: 1024px;
    margin: 0 auto;
    box-sizing: border-box0;
}

/* 헤더 영역 */

/* 로고 영역 */
.logo {
    display: inline-block;
    width: 200px;
    height: 150px;
    text-align: center;
    line-height: 160px;
    position: relative;
}

/* infoLink 영역 */

.infoLink {
    float: right;
    overflow: hidden;
    height: 150px;
    line-height: 150px;
}

.infoLink li {
    display: inline-block;
    padding: 0 15px;
}

/* mainMenu 영역 */

.mainMenu {
    width: 200px;
    position: relative;
    top: 100px;;
}

nav>ul>li {
    font-size: 40px;
    margin-left: 30px;
    transition: 0.3s;

}

nav>ul>li:hover {
    font-size: 20px;
}

nav>ul>li>ul {
    position: relative;
    top: -60px;
    left: 100px;
}


nav>ul>li>ul>li {
    margin-bottom: 10px;
    font-size: 20px;
}